/**
COLORES
**/

:root{
    --blue-navy : #05205d;
    --blue-light: #3155a7;
    --brown-leather: #AB987A;
    --orange-coral: #ff833D;
    --white-egg: #f5f5f5;
}

/**
HEADER
**/

.header-area .main-menu, 
.header-area .main-menu .dropdown-menu{
    background: var(--white-egg);
    box-shadow: 0px 3px 16px 0px rgba(0,0,0, 0.1);
}

.header-area .main-menu .nav-var{
    height: 70px;
}

.header-area .main-menu .nav-var .nav-link{
    font-size: 14px;
    color : var(--white-egg);
    padding: 8px;
}

.header-area .main-menu .nav-var .nav-link:hover{
    font-style: bold;
    font-weight: 600;
}

/**
    MAIN-INFO SECTION
**/
.main-info{
    position: relative;
    z-index: 1;
    padding-top: 20px;
    margin-bottom: 58px;
}
.main-info .container{
    border-radius: 12px;
    position: relative;
    bottom: -100px;
    background: #fff;
    padding-top: 28px;
    box-shadow: 0px 20px 80px 0 rgba(153,153,153, 0.3);
}

.main-info .container .img-col .img-container > img{
    width: 90%;
    height: 80%;
}
.main-info .container .txt-col .text-container {
    margin: 20px auto 0 auto;
    width: 90%;
}
.main-info .container .txt-col .text-container h4{
    font-size: 16px;
}
.main-info .container .txt-col .text-container p{
    font-size: 16px;
    color: var(--brown-leather);
    margin-bottom: 20px;
}
.main-info .container .txt-col .text-container ul.basic.info{
    padding-left: 0;
}
.main-info .container .txt-col .text-container ul.basic.info > li{
    margin-bottom: 8px;
}
.main-info .container .txt-col .text-container ul.basic.info > li > i {
    margin-right: 4px;
    color: var(--blue-navy);
}
.main-info .container .txt-col .text-container ul.socila-mi{
    margin-top: 20px;
    padding-left: 0;
}
.main-info .container .txt-col .text-container ul.social-mi > li{
    margin-right: 20px;
}
.main-info .container .txt-col .text-container ul.social-mi > li  i {
    font-size: 40px;
    color: var(--blue-navy);
}


/** skill section **/

.skill-item{
    margin-bottom: 24px;
}

.skill-item .text{
    margin-bottom: 8px;
}

.skill-item .progress .progress-bar{
    height: 10px;
    border-radius: 5px;
    vertical-align: middle;
    align-self: center;
    background-image: -moz-linear-gradient(0deg, var(--blue-light) 0%, var(--brown-leather));
    background-image: -webkit-linear-gradient(0deg, var(--blue-light) 0%, var(--brown-leather));
}

/** PORTFOLIO SECTION**/
.card-container .card{
    max-width: 360px;
    margin-top: 16px;

}

.card-container .card i{
    font-size: 80px;
    color: var(--orange-coral);
}

.card-container .card h5{
    margin-top: 12px;
    margin-bottom: 8px;
    opacity: 0.8;
}