@media (min-width: 576px) {
    .header-area .main-menu .navbar .nav-link{
        padding: 0.5rem 1rem;
    }

    .card-container .card{
        max-width: 240px;
    }
}
@media (min-width: 768px) {
    .header-area .main-menu .navbar .nav-link {
      font-size: 16px;
    }
    .main-info {
      padding-bottom: 42px;
      margin-bottom: 78px;
    }
    .main-info .container {
      bottom: -120px;
    }

    .card-container .card{
        max-width: 360px;
    }
  }